<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="assets/bootstrap.min.css" />
    {% block styles %}{% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_entreprises') }}">La chataigneraie</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a {% if app.request.pathinfo == "/entreprises" %} class="nav-link active" {% else %} class="nav-link" {% endif %} aria-current="page" href="{{ path('app_entreprises') }}">Entreprises</a>
        </li>
        {% if droit %}
        <li class="nav-item">
          <a {% if app.request.pathinfo == "/professionnels" %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ path('app_professionnels') }}">Professionnels</a>
        </li>
        <li class="nav-item">
          <a {% if app.request.pathinfo == "/utilisateurs" %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ path('app_utilisateurs') }}">Utilisateurs</a>
        </li>
        {% endif %}
      </ul>
      <div class="navbar-text dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {% block utilisateur %}{% endblock %}
        </a>
        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="{{ path('app_connexion') }}">Deconnexion</a></li>
        </ul>
      </div>
      <img src="app/defaut_utilisateur.png" alt="" width="30" height="30">
    </div>
  </div>
</nav>

<div class="container">
  <div class="text-center py-5 px-3">
    {% block content %}{% endblock %}
  </div>
</div>

<script src="assets/bootstrap.bundle.min.js"></script>
{% block scripts %}{% endblock %}

</body>
</html>
