{% extends 'base.html.twig' %}

{% block title %}La Châtaigneraie - Entreprises{% endblock %}

{% block utilisateur %}{{ login }}{% endblock %}

{% block content %}

<!-- Création du formulaire permettant la recherche d'une entreprise par filtrage!-->
<form action="" method="POST">
  <div class="input-group mb-3">
    <span class="input-group-text">Raison Sociale</span>
    <input type="text" name="filtreRs" maxlength="100" class="form-control" list="listeEntreprise">
    <datalist id="listeEntreprise">
      {% for entreprise in allEntreprises %}
        <option>
          {{ entreprise.entRs }}
        </option>
      {% endfor %}
    </datalist>
    <span class="input-group-text">Ville</span>
    <select name="filtreVille" class="form-select" aria-label="Selection d'une ville">
      <option value="0">Non renseigné</option>
      {% for ville in villes %}
        <option value="{{ville.id}}">
        {{ ville.vilNom }}
        </option>
      {% endfor %}
    </select>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">Pays</span>
    <select name="filtrePays" class="form-select" aria-label="Selection d'un pays">
      <option value="0">Non renseigné</option>
      {% for unPays in pays %}
        <option value="{{unPays.id}}">
        {{ unPays.payLibelle }}
        </option>
      {% endfor %}
    </select>
    <span class="input-group-text">Spécialité</span>
    <select name="filtreSpes" class="form-select" aria-label="Selection de plusieurs spécialités">
      <option value="0">Non renseigné</option>
      {% for spe in specialites %}
        <option value="{{ spe.id }}">
        {{ spe.speLabel }}
        </option>
      {% endfor %}
    </select>
    <input type="submit" class="btn btn-outline-primary" value="Rechercher">
  </div>
</form>

<div class="d-flex mb-3">
  {% if filtreRs != null %}<span class="badge rounded-pill bg-success me-1">RS : {{ filtreRs }}</span>{% endif %}
  {% if filtreVille.vilNom is defined %}<span class="badge rounded-pill bg-success me-1">Ville : {{ filtreVille.vilNom }}</span>{% endif %}
  {% if filtrePays.payLibelle is defined %}<span class="badge rounded-pill bg-success me-1">Pays : {{ filtrePays.payLibelle }}</span>{% endif %}
  {% if filtrePays.payLibelle is defined %}<span class="badge rounded-pill bg-success me-1">Specialité : {{ filtreSpe.speLabel }}</span>{% endif %}
</div>

<!-- Si l'utilisateur est administrateur !-->
{% if droit %}
  <buttom id="ajoutBtn" role="buttom" class="btn btn-primary mb-3">Ajouter</buttom>
{% endif %}

<!-- Affichage de toutes les entreprises !-->
<div class="row row-cols-1 row-cols-md-3 g-4">
{% for ent in entreprises %}
  <div class="col">
    <div class="card h-100 bg-light">
      <div class="card-body">
        <h5 class="card-title">{{ ent.entRs }}</h5>
      </div>
        <ul class="list-group list-group-flush text-left">
            {% if ent.entVille == null and ent.entCP == null %} <li class="list-group-item text-muted"> Non renseigné {% endif %}
            {% if ent.entVille == null and ent.entCP != null %} <li class="list-group-item"> {{ ent.entCP }} {% endif %}
            {% if ent.entVille != null and ent.entCP == null %} <li class="list-group-item"> {{ ent.entVille }} {% endif %}
            {% if ent.entVille != null and ent.entCP != null %} <li class="list-group-item"> {{ ent.entVille }}, {{ ent.entCP }} {% endif %}
            </li>

            <li class="list-group-item {% if ent.entPays == null %}text-muted{% endif %}">{% if ent.entPays == null %}Non renseigné{% else %}{{ ent.entPays }}{% endif %}</li>

            <!-- On vérifie s'il existe au moins une spécialité pour l'entreprise !-->
            {% if ent.entSpecialite|length == 0 %}
              <li class="list-group-item text-muted">Aucune spécialité n'a été renseignée</li>
            {% else %}
              <li class="list-group-item spes">{% for spe in ent.entSpecialite %}{{ spe }}, {% endfor %}</li>
            {% endif %}
        </ul>
      <div class="card-footer">
        <a href="{{ path('app_entreprises') }}?id={{ ent.id }}" class="btn btn-primary">Plus d'informations</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>

<!-- Création de la modale permettant d'afficher les détails d'une entreprise ou d'ajouter une entreprise !-->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{% if entreprise.id == 0 %}Ajout d'une entreprise {% else %}Détails d'une entreprise {% endif %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="RetourPage()"></button>
      </div>
      <div class="modal-body">
        <form id="entreprise_form" action="{% if entreprise.id == 0 %}{{ path("add_entreprises") }}{% else %}{{ path("edit_entreprises", {"id" : entreprise.id}) }}{% endif %}" method="POST">
          <table class="table">
            <tbody>
              <tr>
                <th>Raison Sociale</th>
                <td><input type="text" maxlength="100" {% if droit != true %} readonly="readonly" {% endif %} name="entRS" class="form-control" placeholder="" value="{{ entreprise.entRs }}" required></td>
              </tr>
              <tr>
                <th>Adresse 1</th>
                <td><input type="text" maxlength="100" {% if droit != true %} readonly="readonly" {% endif %} name="entAdr1" class="form-control" placeholder="" value="{{ entreprise.entAdresse1 }}"></td>
              </tr>
              <tr>
                <th>Adresse 2</th>
                <td><input type="text" maxlength="100" {% if droit != true %} readonly="readonly" {% endif %} name="entAdr2" class="form-control" placeholder="" value="{{ entreprise.entAdresse2 }}"></td>
              </tr>
              <tr>
                <th>Adresse 3</th>
                <td><input type="text" maxlength="100" {% if droit != true %} readonly="readonly" {% endif %} name="entAdr3" class="form-control" placeholder="" value="{{ entreprise.entAdresse3 }}"></td>
              </tr>
              <tr>
                <th>Code Postal</th>
                <td><input type="text" maxlength="5" minlength="5" {% if droit != true %} readonly="readonly" {% endif %} name="entCP" class="form-control" placeholder="" value="{{ entreprise.entCP }}"></td>
              </tr>
              <tr>
                <th>Ville</th>
                <td>
                  <select name="entVille" class="form-select" aria-label="Selection d'une ville" {% if droit != true %} disabled {% endif %}>
                    <option value="0">Non renseigné</option>
                    {% for ville in villes %}
                      <option value="{{ville.id}}" {% if entreprise.entVille == ville.vilNom %}selected{% endif %}>
                      {{ ville.vilNom }}
                      </option>
                    {% endfor %}
                  </select>
                </td>
              </tr>
              <tr>
                <th>Pays</th>
                <td>
                  <select name="entPays" class="form-select" aria-label="Selection d'un pays" {% if droit != true %} disabled {% endif %}>
                    <option value="0">Non renseigné</option>
                    {% for unPays in pays %}
                      <option value="{{unPays.id}}" {% if entreprise.entPays == unPays.payLibelle %}selected{% endif %}>
                      {{ unPays.payLibelle }}
                      </option>
                    {% endfor %}
                  </select>
                </td>
              </tr>
              <tr>
                <th>Spécialité</th>
                <td>
                <select name="entSpes[]" class="form-select" multiple="multiple" aria-label="Selection de plusieurs spécialités" {% if droit != true %} disabled {% endif %}>
                  <option value="0">Non renseigné</option>
                  {% for spe in specialites %}
                    <option value="{{ spe.id }}"
                    {% set continue = false %}
                    {% for entspe in entreprise.entSpecialite %}
                        {% if entspe == spe.speLabel and not continue %}
                            {% set continue = true %}
                            selected
                        {% endif %}
                    {% endfor %}>
                    {{ spe.speLabel }}
                    </option>
                  {% endfor %}
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- Si l'utilisateur est un administrateur !-->
          {% if droit %}
            {% if entreprise.id != 0 %}
              <input class="btn btn-primary" value="Modifier" type="submit" />
               <a data-bs-toggle="modal" data-bs-target="#suppEntr" role="buttom" class="btn btn-danger">Supprimer</a>
            {% else %}
              <input class="btn btn-primary" value="Ajouter" type="submit" />
            {% endif %}
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Création de la modale de suppression qui fera office de message de confirmation-->
<div class="modal fade" id="suppEntr" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Suppression d'une entreprise</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer l'entreprise {{ entreprise.entRs }} ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <a href="{{ path("suppr_entreprises", {"id" : entreprise.id}) }}" type="button" class="btn btn-danger">Confirmer</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Si il y a une entreprise sélectionnée (ouverture de la modale de détails d'une entreprise) !-->
{% if entreprise.id != 0 %}
  <script type="text/javascript">
    var myModal = new bootstrap.Modal(document.getElementById("myModal"));
    myModal.toggle();

    $('#suppEntr').on('hidden.bs.modal', function (e) {
      window.location.href = window.location.href.split('?')[0];
    });
  </script>
{% else %}
  <script type="text/javascript">
    $("#ajoutBtn").on('click', function () {
      var myModal = new bootstrap.Modal(document.getElementById("myModal"));
      myModal.toggle();
    })
  </script>
{% endif %}

<!-- Création d'une fonction permettant de rafraîchir la page
pour revenir à la page d'accueil des entreprises 
lors de la fermeture de la modale des détails d'une entreprise !-->
<script type="text/javascript">
  function RetourPage() {
    $('#myModal').on('hidden.bs.modal', function (e) {
      window.location.href = window.location.href.split('?')[0];
    });
  }

  $(".spes").text(function(i, text) {
    return text.slice(0, -2);
  });
</script>

{% endblock %}