{% extends 'base.html.twig' %}

{% block title %}La chataigneraie - Entreprises{% endblock %}

{% block utilisateur %}{{ login }}{% endblock %}

{% block content %}


<div class="row row-cols-1 row-cols-md-3 g-4">

{% for util in utilisateurs %}
  <div class="col">
    <div class="card h-100 bg-light">
      <!--<img src="..." class="card-img-top" alt="...">!-->
      <div class="card-body">
        <h5 class="card-title">{{ util.entRs }}</h5>
      </div>
        <ul class="list-group list-group-flush text-left">
            <li class="list-group-item">{{ util.entVille }}, {{ util.entCP }} </li>
            <li class="list-group-item">{{ util.entPays }}</li>
            <li class="list-group-item">{{ util.entSpecialite[0] }}</li>
        </ul>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Plus d'informations</a>
      </div>
    </div>
  </div>
{% endfor %}
 </div>
{% endblock %}
