{% extends 'base.html.twig' %}

{% block title %}La chataigneraie - Entreprises{% endblock %}

{% block utilisateur %}{{ login }}{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
{% for ent in entreprises %}
  <div class="col">
    <div class="card h-100 bg-light">
      <!--<img src="..." class="card-img-top" alt="...">!-->
      <div class="card-body">
        <h5 class="card-title">{{ ent.entRs }}</h5>
      </div>
        <ul class="list-group list-group-flush text-left">
            <li class="list-group-item">{{ ent.entVille }}, {{ ent.entCP }} </li>
            <li class="list-group-item">{{ ent.entPays }}</li>
            <li class="list-group-item">{{ ent.entSpecialite[0] }}</li>
        </ul>
      <div class="card-footer">
        <a href="{{ path('app_entreprises') }}?id={{ ent.id }}" class="btn btn-primary">Plus d'informations</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>

{% if entreprise is defined %}
  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body"> 
        <table class="table">
          <tbody>
            <tr>
              <th scope="col">Raison Sociale</th>
              <td scope="col">{{ entreprise.entRs }}</th>
            </tr>
              <th scope="col">Ville</th>
              <td scope="col">{{ entreprise.entVille }}</th>
            </tr>
              <th scope="col">Pays</th>
              <td scope="col">{{ entreprise.entPays }}</th>
            </tr>
              <th scope="col">Adresse</th>
              <td scope="col">{{ entreprise.entAdresse1 }}</th>
            </tr>
              <th scope="col">Code Postal</th>
              <td scope="col">{{ entreprise.entCP }}</th>
            </tr>
              <th scope="col">Spécialité</th>
              <td scope="col">
                {% for spe in entreprise.entSpecialite %}
                  {{ spe }}
                {% endfor %}
              </th>
            </tr>
          </thead>
        </table>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var myModal = new bootstrap.Modal(document.getElementById("myModal"));
    myModal.toggle();
</script>
{% endblock %}