{% extends 'base.html.twig' %}

{% block title %}La Chataigneraie - Professionnels{% endblock %}

{% block utilisateur %}maxime.adler{% endblock %}

{% block content %}
  <h1> Affichage des professionnels </h1>
  <div class="accordion" id="accordionTable">
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Mail</th>
      <th scope="col">Numéro de téléphone</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
   {% for pers in personnes %}
    <tr data-bs-toggle="collapse" data-bs-target="#collapse{{ pers.id }}">
      <td {% if pers.perNom == null  %} class="text-muted"> Non renseigné {% else %}> {{pers.perNom}} {% endif %} </td>
      <td {% if pers.perPrenom == null  %} class="text-muted"> Non renseigné {% else %}> {{pers.perPrenom}} {% endif %}</td>
      <td {% if pers.perMail == null  %} class="text-muted"> Non renseigné {% else %}> {{pers.perMail}} {% endif %} </td>
      <td {% if pers.perNum == null  %} class="text-muted"> Non renseigné {% else %}> {{pers.perNum}} {% endif %}</td>
      <td class="col-md-1"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse{{ pers.id }}"></button></td>
    </tr>


    <tr>
      <td colspan="4">
        <div id="collapse{{ pers.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionTable">
          <div class="accordion-body text-start">
          <div class="container">
          <div class="row align-items-center">
            <div class="col">
              <form >
                <div class="row mb-3">
                  <label for="PersNom" class="col-sm-3 col-form-label"> <strong> Nom : </strong> </label>
                  <div class="col-sm-7">
                  <input type="text" value="{{ pers.perNom }}" class="form-control" id="PersNom" {% if pers.perNom == null  %} placeholder="Non renseigné"{% endif %}>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="PersPrenom" class="col-sm-3 col-form-label"> <strong> Prénom :</strong> </label>
                  <div class="col-sm-7">
                  <input type="text" value="{{ pers.perPrenom }}"class="form-control" id="PersPrenom" {% if pers.perPrenom == null  %} placeholder="Non renseigné"{% endif %}>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="PersMail" class="col-sm-3 col-form-label"> <strong> Adresse mail : </strong></label>
                  <div class="col-sm-7">
                  <input type="email" value="{{ pers.perMail }}" class="form-control" id="PersMail" {% if pers.perMail == null  %} placeholder="Non renseigné"{% endif %}> 
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="PersNum" class="col-sm-5 col-form-label"> <strong> Numéro de téléphone : </strong></label>
                  <div class="col-sm-5">
                  <input type="text" value="{{ pers.perNum }}" class="form-control" id="PersNum" {% if pers.perNum == null  %} placeholder="Non renseigné"{% endif %}>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="PersFonction" class="col-sm-3 col-form-label"><strong> Fonction : </strong></label>
                  <div class="col-sm-7">
                  <input type="text" class="form-control" list="listFonction" {% set continue = false %} {% for fonction in fonctions %} {% if fonction.id == pers.perFonction and not continue %} {% set continue = true %} value="fonction.id"  {% endif %} {% endfor %}>
                    <datalist id="listFonction">
                      {% for fonction in fonctions %}
                        <option value="{{fonction.id}}">
                          {{ fonction.fonLabel }}
                        </option>
                      {% endfor %}
                    </datalist>
                  </div>
                 
                </div>
                <div class="row mb-3">
                  <label for="PersEntreprise" class="col-sm-3 col-form-label"><strong> Entreprise : </strong></label>
                  <div class="col-sm-7">
                 <input type="text" class="form-control" list="listEntreprise">
                    <datalist id="listEntreprise">
                      {% for entreprises in entreprises %}
                        <option value="{{entreprises.id}}" {% if entreprises.id == pers.perEntreprise %}selected{% endif %}>
                          {{ entreprises.entRs }}
                        </option>
                      {% endfor %}
                    </datalist>
                  </div>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Modifier</button>
                  <a href="{{ path("suppr_personnes", {"id" : pers.id}) }}" class="btn btn-danger">Supprimer</a>
                </div>
              </form>
            </div>

            

            <div class="col">
              <table class="table table-borderless text-center align-middle ">
                <tr> 
                  <th class = "col-md-3"> Profil </th>
                  <th class = "col-md-3"> Année </th>
                  <th class = "col-md-1"></th>
                </tr>
                <tr>
                  <td> bibibibibibiib</td>
                  <td> 20--</td>
                  <td><img src="professionnel/Supp.png" class="rounded float-start" width="40%" alt="..."> </td>
                </tr>
                <tr>
                  <td> sisisisisiisisi</td>
                  <td> 20--</td>
                  <td><img src="professionnel/Supp.png" class="rounded float-start" width="40%" alt="..."> </td>

                </tr>
                <tr>
                  <td> bahahahhahahaha</td>
                  <td> 20--</td>
                  <td><img src="professionnel/Supp.png" class="rounded float-start" width="40%" alt="..."> </td>

                </tr>
              </table>
              
              <form action="" action="{{ path("edit_personnes", {"id" : pers.id}) }}" method="POST" class="row g-3">
                <div class="col-auto">
                  <label  class="visually-hidden"></label>
                  <input type="label" class="form-control" id="NewProfil" placeholder="Profil">
                </div>
                <div class="col-auto">
                  <label  class="visually-hidden"></label>
                  <input type="label" class="form-control" id="NewProfil2" placeholder="Année">
                </div>    
                <div class="col-auto">
                  <button type="submit" class="btn btn-success mb-3">Ajouter</button>
                </div>
              </form>
              
            </div>
            </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
     {% endfor %}
  </tbody>

</table>
</div>
{% endblock %}

