{% extends 'base.html.twig' %}

{% block title %}La Chataigneraie - Professionnels{% endblock %}

{% block utilisateur %}maxime.adler{% endblock %}

{% block content %}
  <h1> Affichage des professionnels </h1>
  <div class="accordion" id="accordionTable">
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Mail</th>
      <th scope="col">Numéro de téléphone</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
   {% for pers in personnes %}
    <tr data-bs-toggle="collapse" data-bs-target="#collapse{{ pers.id }}">
      <td {% if pers.perNom == null  %} class="text-muted"> Non renseigné {% else %}> {{pers.perNom}} {% endif %} </td>
      <td {% if pers.perPrenom == null  %} class="text-muted"> Non renseigné {% else %}> {{pers.perPrenom}} {% endif %}</td>
      <td {% if pers.perMail == null  %} class="text-muted"> Non renseigné {% else %}> {{pers.perMail}} {% endif %} </td>
      <td {% if pers.perNum == null  %} class="text-muted"> Non renseigné {% else %}> {{pers.perNum}} {% endif %}</td>
      <td><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse{{ pers.id }}"></button></td>
    </tr>
    <tr>
      <td colspan="4">
        <div id="collapse{{ pers.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionTable">
          <div class="accordion-body text-start">
            <p> <strong>Nom : </strong> {% if pers.perNom == null  %} <span class="text-muted"> Non renseigné </span>{% else %} {{pers.perNom}} {% endif %} </p>
            <p> <strong>Prénom : </strong> {% if pers.perPrenom == null  %} <span class="text-muted">Non renseigné</span>{% else %} {{pers.perPrenom}} {% endif %} </p>
            <p> <strong>Mail : </strong> {% if pers.perMail == null  %} <span class="text-muted">Non renseigné</span> {% else %} {{pers.perMail}} {% endif %} </p>
            <p> <strong>Numéro de téléphone : </strong> {% if pers.perNum == null  %} <span class="text-muted">Non renseigné </span>{% else %} {{pers.perNum}} {% endif %} </p>
            <p> <strong>Fonction : </strong> {% if pers.perFonction == null  %} <span class="text-muted">Non renseigné </span>{% else %} {{pers.perFonction}} {% endif %} </p>
            <p> <strong>Entreprise : </strong> {% if pers.perEntreprise == null  %} <span class="text-muted">Non renseigné </span>{% else %} {{pers.perEntreprise}} {% endif %} </p>
            <button type="button" class="btn btn-primary">Modifier</button>
            <button type="button" class="btn btn-danger">Supprimer</button>
          </div>
        </div>
      </td>
    </tr>
     {% endfor %}
  </tbody>

</table>
</div>



{% endblock %}

