{% extends 'base.html.twig' %}

{% block title %}La Chataigneraie - Professionnels{% endblock %}

{% block utilisateur %}{{ login }}{% endblock %}

{% block content %}
<form action="" method="POST">
  <div class="input-group mb-3">
    <span class="input-group-text">Nom</span>
    <input type="text" name="filtreNom" class="form-control" list="listeNom">
    <datalist id="listeNom">
      {% for pers in personnes %}
        <option>
          {{ pers.perNom }}
        </option>
      {% endfor %}
    </datalist>
    <span class="input-group-text">Prenom</span>
    <input type="text" name="filtrePrenom" class="form-control" list="listePrenom">
    <datalist id="listePrenom">
      {% for pers in personnes %}
        <option>
          {{ pers.perPrenom }}
        </option>
      {% endfor %}
    </datalist>
    <span class="input-group-text">Entreprise</span>
    <input type="text" name="filtreEnt" class="form-control" list="listeEntreprise">
    <datalist id="listeEntreprise">
      {% for entreprise in entreprises %}
        <option>
          {{ entreprise.entRs }}
        </option>
      {% endfor %}
    </datalist>
    <input type="submit" class="btn btn-outline-primary" value="Rechercher">
  </div>
</form>

<buttom id="ajoutBtn" role="buttom" class="btn btn-primary mb-3">Ajouter</buttom>

<div class="accordion" id="accordionTable">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Mail</th>
        <th scope="col">Numéro de téléphone</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for pers in personnes %}
        <tr data-bs-toggle="collapse" data-bs-target="#collapse{{ pers.id }}">
          <td {% if pers.perNom == null  %} class="text-muted"> Non renseigné {% else %}> {{pers.perNom}} {% endif %} </td>
          <td {% if pers.perPrenom == null  %} class="text-muted"> Non renseigné {% else %}> {{pers.perPrenom}} {% endif %}</td>
          <td {% if pers.perMail == null  %} class="text-muted"> Non renseigné {% else %}> {{pers.perMail}} {% endif %} </td>
          <td {% if pers.perNum == null  %} class="text-muted"> Non renseigné {% else %}> {{pers.perNum}} {% endif %}</td>
          <td class="col-md-1"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse{{ pers.id }}"></button></td>
        </tr>
        <tr>
          <td colspan="4">
            <div id="collapse{{ pers.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionTable">
              <div class="accordion-body text-start">
                <div class="container">
                  <div class="row align-items-center">
                    <div class="col">
                      <form id="personne_form" action="{{ path("edit_personnes", {"id" : pers.id}) }}" method="POST">
                        <div class="row mb-3">
                          <span class="col-sm-3"><strong>Nom :</strong></span>
                          <div class="col-sm-7">
                            <input type="text" name="perNom" value="{{ pers.perNom }}" class="form-control" id="PersNom" {% if pers.perNom == null  %} placeholder="Non renseigné"{% endif %}>
                          </div>
                        </div>

                        <div class="row mb-3">
                          <span class="col-sm-3"><strong>Prénom :</strong></span>
                          <div class="col-sm-7">
                            <input type="text" name="perPrenom" value="{{ pers.perPrenom }}"class="form-control" id="PersPrenom" {% if pers.perPrenom == null  %} placeholder="Non renseigné"{% endif %}>
                          </div>
                        </div>

                        <div class="row mb-3">
                          <span class="col-sm-3"><strong>Adresse mail :</strong></span>
                          <div class="col-sm-7">
                            <input type="email" name="perMail" value="{{ pers.perMail }}" class="form-control" id="PersMail" {% if pers.perMail == null  %} placeholder="Non renseigné"{% endif %}> 
                          </div>
                        </div>

                        <div class="row mb-3">
                          <span class="col-sm-3"><strong>Numéro de téléphone :</strong></span>
                          <div class="col-sm-7">
                            <input type="text" name="perNum" value="{{ pers.perNum }}" class="form-control" id="PersNum" {% if pers.perNum == null  %} placeholder="Non renseigné"{% endif %}>
                          </div>
                        </div>

                        <div class="row mb-3">
                          <span class="col-sm-3"><strong>Fonction :</strong></span>
                          <div class="col-sm-7">
                            <select name="perFonction" class="form-select">
                              <option value="0">Non renseigné</option>
                              {% for fonction in fonctions %}
                                <option value="{{fonction.id}}" {% if (pers.perFonction == fonction.fonLabel) %}selected{% endif %}>{{ fonction.fonLabel }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>

                        <div class="row mb-3">
                          <span class="col-sm-3"><strong>Entreprise :</strong></span>
                          <div class="col-sm-7">
                            <input type="text" name="perEntreprise" class="form-control" list="listeEntreprise" value="{{pers.perEntreprise}}">
                          </div>
                        </div>

                        <div class="col-12">
                          <button type="submit" class="btn btn-primary">Modifier</button>
                          <a href="{{ path("suppr_personnes", {"id" : pers.id}) }}" class="btn btn-danger">Supprimer</a>
                        </div>
                      </form>
                    </div>

                    <div class="col">
                      <table class="table table-borderless text-center align-middle ">
                        <tr> 
                          <th class = "col-md-3"> Profil </th>
                          <th class = "col-md-3"> Année </th>
                          <th class = "col-md-1"></th>
                        </tr>
                        <tr>
                          <td> bibibibibibiib</td>
                          <td> 20--</td>
                          <td><img src="professionnel/Supp.png" class="rounded float-start" width="40%" alt="..."> </td>
                        </tr>
                        <tr>
                          <td> sisisisisiisisi</td>
                          <td> 20--</td>
                          <td><img src="professionnel/Supp.png" class="rounded float-start" width="40%" alt="..."> </td>
                        </tr>
                        <tr>
                          <td> bahahahhahahaha</td>
                          <td> 20--</td>
                          <td><img src="professionnel/Supp.png" class="rounded float-start" width="40%" alt="..."> </td>
                        </tr>
                      </table>
                      
                      <form action="" class="row g-3">
                        <div class="col-auto">
                          <label  class="visually-hidden"></label>
                          <input type="label" class="form-control" id="NewProfil" placeholder="Profil">
                        </div>

                        <div class="col-auto">
                          <label  class="visually-hidden"></label>
                          <input type="label" class="form-control" id="NewProfil2" placeholder="Année">
                        </div>  

                        <div class="col-auto">
                          <button type="submit" class="btn btn-success mb-3">Ajouter</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajout d'un professionnel</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="personne_ajt_form" action="{{ path("add_personnes") }}" method="POST">
          <table class="table">
            <tbody>
              <tr>
                <th>Nom</th>
                <td><input type="text" name="perNom" class="form-control"</td>
              </tr>
              <tr>
                <th>Prenom</th>
                <td><input type="text" name="perPrenom" class="form-control"></td>
              </tr>
              <tr>
                <th>Adresse mail</th>
                <td><input type="text" name="perMail" class="form-control"</td>
              </tr>
              <tr>
                <th>Numéro de téléphone</th>
                <td><input type="text" name="perNum" class="form-control"></td>
              </tr>
              <tr>
                <th>Fonction</th>
                <td>
                  <select name="perFonction" class="form-select">
                    <option value="0">Non renseigné</option>
                    {% for fonction in fonctions %}
                      <option value="{{fonction.id}}">
                      {{ fonction.fonLabel }}
                      </option>
                    {% endfor %}
                  </select>
                </td>
              </tr>
              <tr>
                <th>Entreprise</th>
                <td>
                  <input type="text" name="perEntreprise" class="form-control" list="listeEntreprise">
                  <datalist id="listeEntreprise">
                    <option>Non renseigné</option>
                    {% for entreprises in entreprises %}
                      <option>{{entreprises.entRs}}</option>
                    {% endfor %}
                  </datalist>
                </td>
              </tr>
            </tbody>
          </table>
          <input class="btn btn-primary" value="Ajouter" type="submit" />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
  $("#ajoutBtn").on('click', function () {
    var myModal = new bootstrap.Modal(document.getElementById("myModal"));
    myModal.toggle();
  })
</script>
{% endblock %}

