{% extends 'base.html.twig' %}

{% block title %}La Châtaigneraie - Utilisateurs{% endblock %}

{% block utilisateur %}{{ login }}{% endblock %}

{% block content %}

<!-- Si l'utilisateur est un administrateur !-->
{% if droit %}

  <!-- Création du formulaire d'ajout d'un utilisateur !-->
  <form id="utilisateur_ajt_form" action="{{ path("add_utilisateurs") }}" method="POST" class="row g-3">
    <div class="col-auto">
      <label class="form-control-plaintext">Enregistrer un nouvel utilisateur : </label>
    </div>
    <div class="col-auto">
      <input maxlength="38" type="text" class="form-control" name="utiLogin" placeholder="Login" required>
    </div>
    <div class="col-auto">
      <input maxlength="64" type="password" class="form-control" name="utiMdp" placeholder="Mot de passe" required>
    </div> 
    <div class="col-auto">  
    <select name="utiDroit" class="form-select">
                      <option value="0">Professeur</option>
                      <option value="1">Administrateur</option>
    </select>
    </div> 
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Valider</button>
    </div>
  </form>

<!-- Affichage des utilisateurs par le biais d'un tableau !-->
<div class="container">
    <table class="table table-hover table-striped text-center align-middle">
        <thead>
            <tr>
              <th class = "col-md-4">Login</th>
              <th class = "col-md-4">Droit</th>
              <th class = "col-md-3"></th>
            </tr>
        </thead>
        <tbody>

              {% for util in utilisateurs %}
              <tr>
                <td> {{util.utiLogin}}</td>
                <td> {% if util.utiDroit == true %} Administrateur {% else %} Professeur {% endif %} </td>
                <td>
                  <div class="col-12">
                    
                    <a href="{{ path("app_utilisateurs", {"id" : util.id}) }}">

                    <img src="professionnel/Supp.png" class="rounded" width="10%" alt="...">
                  </a> 
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modale de suppression d'un utilisateur qui va faire office de confirmation de suppression -->
<div class="modal fade" id="suppUti" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Suppression d'un utilisateur</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer l'utilisateur ayant pour login {{ utilisateur.utiLogin }} ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <a href="{{ path("suppr_utilisateurs", {"id" : utilisateur.id}) }}" class="btn btn-danger">Confirmer</a>
      </div>
    </div>
  </div>
</div>

<!-- Sinon si l'utilisateur n'est pas un administrateur !-->
{% else %}
  <p> Vous n'êtes pas autorisé à accéder à cette page. </p>
{% endif %}

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Si un utilisateur est sélectionné !-->
{% if utilisateur.id != 0 %}
  <script type="text/javascript">
    var SuppUti = new bootstrap.Modal(document.getElementById("suppUti"));
    SuppUti.toggle();

    $('#suppUti').on('hidden.bs.modal', function (e) {
      window.location.search = "";
    });
  </script>
{% endif %}
{% endblock %}